<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>gameasset/1_1_img_lock.png</key>
			<dict>
				<key>frame</key>
				<string>{{971,2},{44,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,44}</string>
			</dict>
			<key>gameasset/1_1_setting.png</key>
			<dict>
				<key>frame</key>
				<string>{{971,50},{42,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{42,42}</string>
			</dict>
			<key>gameasset/1_2_restart.png</key>
			<dict>
				<key>frame</key>
				<string>{{730,348},{54,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,54}</string>
			</dict>
			<key>gameasset/1_2_view.png</key>
			<dict>
				<key>frame</key>
				<string>{{730,406},{54,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,54}</string>
			</dict>
			<key>gameasset/1_3_haptic.png</key>
			<dict>
				<key>frame</key>
				<string>{{646,284},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>gameasset/1_3_rate.png</key>
			<dict>
				<key>frame</key>
				<string>{{646,368},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>gameasset/1_3_sound.png</key>
			<dict>
				<key>frame</key>
				<string>{{646,452},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>gameasset/2_1_apart_num.png</key>
			<dict>
				<key>frame</key>
				<string>{{517,987},{84,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,32}</string>
			</dict>
			<key>gameasset/2_1_back.png</key>
			<dict>
				<key>frame</key>
				<string>{{756,90},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>gameasset/2_1_progress1.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1012},{20,6}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,6}</string>
			</dict>
			<key>gameasset/AD.png</key>
			<dict>
				<key>frame</key>
				<string>{{426,938},{32,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,16}</string>
			</dict>
			<key>gameasset/arrow.png</key>
			<dict>
				<key>frame</key>
				<string>{{800,2},{20,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,36}</string>
			</dict>
			<key>gameasset/button.png</key>
			<dict>
				<key>frame</key>
				<string>{{646,192},{140,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,88}</string>
			</dict>
			<key>gameasset/Cancel.png</key>
			<dict>
				<key>frame</key>
				<string>{{605,978},{104,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,25}</string>
			</dict>
			<key>gameasset/Close.png</key>
			<dict>
				<key>frame</key>
				<string>{{730,284},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>gameasset/Continue.png</key>
			<dict>
				<key>frame</key>
				<string>{{245,992},{162,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{162,29}</string>
			</dict>
			<key>gameasset/Haptic.png</key>
			<dict>
				<key>frame</key>
				<string>{{709,938},{87,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{87,27}</string>
			</dict>
			<key>gameasset/hint.png</key>
			<dict>
				<key>frame</key>
				<string>{{756,2},{40,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,56}</string>
			</dict>
			<key>gameasset/hint_adbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{912,134},{52,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,24}</string>
			</dict>
			<key>gameasset/hintbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{756,547},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>gameasset/iconbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{646,88},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>gameasset/img_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{646,536},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>gameasset/img_border.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{640,862}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,862}</string>
			</dict>
			<key>gameasset/img_inner_shadow.png</key>
			<dict>
				<key>frame</key>
				<string>{{839,547},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>gameasset/img_shadow.png</key>
			<dict>
				<key>frame</key>
				<string>{{839,2},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>gameasset/main_img_frame.png</key>
			<dict>
				<key>frame</key>
				<string>{{646,620},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>gameasset/netconnection.png</key>
			<dict>
				<key>frame</key>
				<string>{{426,868},{326,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{326,66}</string>
			</dict>
			<key>gameasset/num_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{923,547},{68,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,68}</string>
			</dict>
			<key>gameasset/play.png</key>
			<dict>
				<key>frame</key>
				<string>{{765,969},{70,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,32}</string>
			</dict>
			<key>gameasset/play_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,960},{239,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{239,48}</string>
			</dict>
			<key>gameasset/popups_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{800,166},{204,204}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{204,204}</string>
			</dict>
			<key>gameasset/progress.png</key>
			<dict>
				<key>frame</key>
				<string>{{40,1012},{10,4}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{10,4}</string>
			</dict>
			<key>gameasset/progress_kuai.png</key>
			<dict>
				<key>frame</key>
				<string>{{26,1012},{10,10}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{10,10}</string>
			</dict>
			<key>gameasset/Rate.png</key>
			<dict>
				<key>frame</key>
				<string>{{735,62},{59,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{59,22}</string>
			</dict>
			<key>gameasset/rateok.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,868},{420,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{420,88}</string>
			</dict>
			<key>gameasset/refesh.png</key>
			<dict>
				<key>frame</key>
				<string>{{730,623},{82,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{82,77}</string>
			</dict>
			<key>gameasset/Restart.png</key>
			<dict>
				<key>frame</key>
				<string>{{447,958},{109,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,25}</string>
			</dict>
			<key>gameasset/Settings.png</key>
			<dict>
				<key>frame</key>
				<string>{{560,938},{145,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{145,36}</string>
			</dict>
			<key>gameasset/Sound.png</key>
			<dict>
				<key>frame</key>
				<string>{{646,62},{85,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{85,22}</string>
			</dict>
			<key>gameasset/switch_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{646,2},{96,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,56}</string>
			</dict>
			<key>gameasset/switch_circle.png</key>
			<dict>
				<key>frame</key>
				<string>{{713,969},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>
			<key>gameasset/title.png</key>
			<dict>
				<key>frame</key>
				<string>{{245,960},{198,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{198,28}</string>
			</dict>
			<key>gameasset/View.png</key>
			<dict>
				<key>frame</key>
				<string>{{832,134},{76,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,25}</string>
			</dict>
			<key>gameasset/white_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{800,42},{20,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,20}</string>
			</dict>
			<key>loadingscreen/white_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{800,66},{20,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,20}</string>
			</dict>
			<key>gameloading/loading1.png</key>
			<dict>
				<key>frame</key>
				<string>{{788,374},{193,169}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{193,169}</string>
			</dict>
			<key>gameasset/title_line.png</key>
			<dict>
				<key>frame</key>
				<string>{{40,1020},{11,1}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{11,1}</string>
			</dict>
			<key>gameasset/Home.png</key>
			<dict>
				<key>frame</key>
				<string>{{411,992},{102,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,28}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>gameplist.png</string>
			<key>realTextureFileName</key>
			<string>gameplist.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>